@font-face { font-family:main; src:'DINPro-Light.ttf' }
@font-face { font-family:bold; src:'DINPro-Medium.ttf' }

#title { font:bold }
.important { fill:hsv(60,1,1) }
.debug, .boring { fill:white; opacity:0.2 }
text.debug, text.boring { opacity:0.5 }
*.danger { fill:rgb(2,0,0); opacity:1 }
text.negative { color:red }
*[speed>20] { effect:flash(0.5, 3) }