/* base */
@font-face { font-family:'main'; src:'DINPro.otf';  }
@font-face { font-family:'bold'; src:'DINPro-Bold.otf' }

/* Day
O*/

@font-face { font-family:'main'; src:'DINPro-Light.otf';  }
@font-face { font-family:'bold'; src:'DINPro-Medium.otf';  }

#accel.decelerating[ speed > 0.0] { a:1;
	b:'two' }

a,b ,
c { more:stuff and bother }
